[Unit]
Description=kohya_ss for LoRA
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/kohya_ss
ExecStartPre=/usr/bin/sleep 10
ExecStart=/home/ubuntu/kohya_ss/gui.sh --listen=0.0.0.0 --server_port=7870 --headless
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target